@model IEnumerable<PozemkoveUpravy.Models.OceneniPorostu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VlastnikId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Druh_porostu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vymera_v_m2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena_v_Kc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pozemky)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VlastnikId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Druh_porostu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vymera_v_m2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena_v_Kc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pozemky.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
